





<div class="col-lg-9" >
  <div class="right_content">
    <div class="container">
      <div class="row mbr-justify-content-center">
        <div class="col-lg-12"> <a href="#">
          <div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-mobile fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Corporate Mobile Devices - Bulk Orders</h2>
              <p class="mbr-text">Request for mobile devices for your department.</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">If you are required to order mobile devices for your departments or groups, please use this service to order the corporate mobile devices in bulk. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="col-lg-12"> <a href="#">
          <div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-envelope fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">New Email Account</h2>
              <p class="mbr-text">New Email Creation</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/d1b2e7824f981a00086eeed18110c72a.iix" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service  Overview</strong>
                          <p>Creation of a new email account within our Microsoft Exchange environment. Creation of your email address will also create your Active Directory account. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
        <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-database fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Big Data Analysis</h2>
              <p class="mbr-text">Request big data analysis environment</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/ee24b0cc4f089200086eeed18110c7d7.iix" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>
                          <p>Engage with the Data Service team to instantiate and provide Big Data Analysis environment and analysis. We provide expertise in a wide range of technology platforms and services ranging from data to in-depth analysis. Platforms include Hadoop, Pentaho and Flume.</p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>Data Modeling, Algorithm development</li>
                            <li>Develop map reduce code, transformations</li>
                            <li>Data Integration Services</li>
                            <li>Data Quality and Metadata management</li>
                            <li>Reports/Visualizations, Analytics</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-user-circle-o fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Consulting Request</h2>
              <p class="mbr-text">Have a question for another engineering group?</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/ee24b0cc4f089200086eeed18110c7d7.iix" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>	  
                          <p>The consulting service is provided for Application Development, Engineering, and other IT groups to engage and provide guidance and thought leadership. </p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>Initial consultation</li>
                            <li>Architectural planning and guidance </li>
                            <li>Recommendations on products, specifications & services</li>
                            <li>Specific technology overviews for individuals or small group</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-sitemap fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Endpoint Security</h2>
              <p class="mbr-text">Sophos endpoint security</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/9a5403264f805600086eeed18110c717.iix?t=large" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>
                          <p>Endpoint security is essential in protecting the organizations data. Endpoints are anything that can connect to the internet such as laptops, servers, smart phones and tablets.<br>Our end point security service provides departments with details on the devices that are protected, as well as information on threat detection.</p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>Initial Consultation</li>
                            <li>Installation</li>
                            <li>Ongoing support on a 24x5 basis</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-sitemap fa"></span></div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Firewall Rule Change</h2>
              <p class="mbr-text">Cisco Firewall Appliance</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/ee24b0cc4f089200086eeed18110c7d7.iix" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>	  
                          <p>Firewalls control the inbound & outbound traffic between an end user device (laptop, desktop, table, etc.) that is connected to either corporate wired or wireless networks.  Users of this service are typically deploying a new SaaS solution, or need to grant access to an internal or external site that is currently blocked. </p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>Configuration of the rule change</li>
                            <li>Unit testing and verification of rule change</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-user-circle-o fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Group Modifications</h2>
              <p class="mbr-text">Modify an Active Directory Group</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/e34c48184f425e00086eeed18110c766.iix?t=large" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>	  
                          <p>Group management aids provides users with access to the appropriate applications, files, and rights management.<br> This is centrally managed through Active Directory, and federated throughout the enterprise.</p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>New Group creation</li>
                            <li>Group removal</li>
                            <li>Usage analysis</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-bullseye fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Install Software</h2>
              <p class="mbr-text">Request for software installation service</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingEight">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"><img src="https://dev67126.service-now.com/3ed5b4bf4f378200086eeed18110c797.iix?t=large" class="img-fluid" alt="" /> </div>
                          <p>Request software to be installed on your laptop, desktop, mobile or tablet.</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </a> </div>
          
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-database fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Request for Backup</h2>
              <p class="mbr-text">Backup system, data files or database</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/511403264f805600086eeed18110c710.iix?t=large" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>	  
                          <p>Request this service to force a network backup outside of the regularly scheduled backups.</p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>On-demand backup</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          <div class="col-lg-12">
           <a href="#"><div class="wrapfull">
            <div class="ico-wrap"> <span class="mbr-iconfont fa-user-circle-o fa"></span> </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-section-title">Server Tuning</h2>
              <p class="mbr-text">Request virtual server tuning</p>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTen">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                  </div>
                  <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-3"> <img src="https://dev67126.service-now.com/cc8a74404f489200086eeed18110c7d9.iix?t=large;" class="img-fluid" alt="" /> </div>
                        <div class="col-md-9"> <strong>Service Overview:</strong>	  
                          <p>This service is for the pro-active engagement to tune your virtual server. As usage changes over time, or new initiatives are being put in place, it may require the tuning and adjustment of your storage, memory, and other basic services.</p>
                          <strong>Services Include:</strong>
                          <ul>
                            <li>Performance modeling</li>
                            <li>Memory and Storage Sizing</li>
                            <li>Alerting and Monitoring</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </a> </div>
          
          </div>
          
          
    </div>
    
    <div class="clearfix"></div>
  </div>
</div>

