
    
    <!--  body content regions here  -->
    <main class="main">
  
        <div class="hero-banner " data-component="hero-banner">
            <div class="hero-banner__slider-container">
                <div class="hero-banner-item swiper-container">
                    <div class="hero-banner-item__row swiper-wrapper">
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Qualify for a loan in seconds when you apply online">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Qualify for a loan in seconds when you apply online
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             Get your funds immediately, no documents needed
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#" target="_self" data-modal="" data-id="link_banner" data-text="hero banner |  Qualify for a loan in seconds when you apply online">
                                                                Apply now
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Bank like Neva before">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Bank like Neva before
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             Open a MyMo account on the App and start banking immediately
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_banner" data-text="hero banner |  Bank like Neva before">
                                                                Apply Now
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner-2.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-2.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-2.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Win* a brand new VW Golf 7">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Win* a brand new VW Golf 7
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             Use our Banking App and you could drive away in style<br />
  <sup>*T&amp;Cs apply</sup>
  <p>&nbsp;</p>
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_banner" data-text="hero banner |  Win* a brand new VW Golf 7">
                                                                Find out more
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner-3.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-3.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-3.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Don’t just like it. Swipe to win it">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Don’t just like it. Swipe to win it
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             WIN* a VIP trip for two to Rugby World Cup 2019™, Japan, courtesy of Mastercard®<br />
  <sup>*T&amp;Cs apply</sup>
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_banner" data-text="hero banner |  Don’t just like it. Swipe to win it">
                                                                Apply Now
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner-4.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-4.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-4.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Lotto Quick Pick now available on the Android app">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Lotto Quick Pick now available on the Android app
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             All Android users can now play Lotto Quick Pick on the latest version of our banking app
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#" target="_blank" data-modal="" data-id="link_banner" data-text="hero banner |  Lotto Quick Pick now available on the Android app">
                                                                Learn more
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner-5.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-5.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-5.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                        <div class="hero-banner-item__slider swiper-slide ">
                            <div class="hero-banner-item-col " data-component="hero-banner-item-col" data-trackingregion="hero banner > Protect yourself from phishing scams.">
                                <div class="row no-gutters">
                                    <div class="col-md-5 col-sm-12 order-xs-2 order-sm-2 order-md-1">
                                        <div class="hero-banner-item-col__content-wrapper">
                                            <div class="hero-banner-item-col__content-background">
                                                <div class="hero-banner-item-col__content-holder">
                                                    <div class="hero-banner-item-col__content">
                                                        <div class="hero-banner-item-col__content-text">
  
                                                            <div class="hero-banner-item-col__title title title--main">
                                                                Protect yourself from phishing scams.
  
                                                            </div>
  
                                                            <div class="title-gradient title-gradient--banner"></div>
  
                                                            <span class="hero-banner-item-col__description">
                                                             Our Security Centre has useful tips to help protect what’s valuable to you.&nbsp;
  
                                                          </span>
  
                                                            <div class="hero-banner-item-col__button">
                                                                <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_banner" data-text="hero banner |  Protect yourself from phishing scams.">
                                                                Learn more
  
                                                             </a>
                                                            </div>
  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-12 order-xs-1 order-sm-1 order-md-2">
                                        <div class="hero-banner-item-col__image-holder">
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__desktop hero-banner-item-col__col-image__show" style=" background-image: url('assets/img/banner-6.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__mobile hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-6.png')"></div>
  
                                            <div class="hero-banner-item-col__col-image hero-banner-item-col__col-image__tablet hero-banner-item-col__col-image__hidden" style=" background-image: url('assets/img/banner-6.png')"></div>
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                    </div>
                </div>
               
            </div>
            <div class="slider__pagination-container 1">
                    <div class="slider__nav slider__nav--prev swiper-button-prev">
                        <i data-component="icon" data-icon="arrow-left-slider" data-gradient="gradient" data-path="/assets/icons/" class="icon "> </i>
                    </div>
                    <div class="slider__pagination swiper-pagination"></div>
                    <div class="slider__nav slider__nav--next swiper-button-next">
                        <i data-component="icon" data-icon="arrow-right-slider" data-gradient="gradient" data-path="/assets/icons/" class="icon "> </i>
                    </div>
                </div>
        </div>
  
        <!-- <div class="call-me-back" data-component="call-me-back">
            <div class="call-me-back-toggle call-me-back-toggle--closed">
                <div class="call-me-back-toggle__toggle-icon js-call-me-back-modal-close">
                    <i data-component="icon" data-icon="icon-close-lg" data-gradient="" data-path="assets/icons/" class="icon "> </i>
                </div>
                <div class="call-me-back-toggle__toggle-text call-me-back-toggle__toggle-text--visible js-call-me-back-modal-open" data-modal="call-me-back-modal-1">
                    <div class="d-none d-md-block">
            <img src="assets/img/chatboat.jpeg" alt="" style="max-width:80px;" /> -->
                        <!-- <p class="title title--entrance text-white call-me-back-toggle__title call-me-back-toggle__title--entrance">Need help?</p> -->
            
                    <!-- </div>
                    <div class="d-block d-md-none">
                        
                    </div>
                </div>
            </div> -->
  
            
        <!-- </div> -->
  
        <div class="container container--full-screen">
            <div class="row">
                <div class="col col-12 col-md-12">
                    <div class="want-to-menu" data-component="want-to-menu">
                        <ul class="want-to-menu__items clearfix" data-trackingregion="nav buttons">
  
                            <li class="want-to-menu__item">
                                <a class="want-to-menu__link" href="#.html" target="_self">
                                    <span class="want-to-menu__item-inner">
  
                        <i data-component="icon" data-icon="fa fa-exchange" data-path="assets/icons/" class="icon "></i>
                      <!-- <i class="fa fa-exchange" aria-hidden="true"></i> -->
                      <img src="assets/img/exchange.png" alt="Bank" /> 
                      <span class="want-to-menu__text"> Switch to Alister Bank</span>
                                    </span>
                                </a>
  
                                <div class="want-to-menu__item-border"></div>
  
                            </li>
  
                            <li class="want-to-menu__item">
                                <a class="want-to-menu__link" href="#.html" target="_self">
                                    <span class="want-to-menu__item-inner">
  
                        <!-- <i data-component="icon" data-icon="icon-bank" data-path="assets/icons/" class="icon "></i> -->
  
                        <img src="assets/img/bank.png" alt="Bank" height="40px;" /> 
                      <span class="want-to-menu__text"> Bank with us </span>
                                    </span>
                                </a>
  
                                <div class="want-to-menu__item-border"></div>
  
                            </li>
  
                            <li class="want-to-menu__item">
                                <a class="want-to-menu__link" href="#.html" target="_self">
                                    <span class="want-to-menu__item-inner">
  
                        <!-- <i data-component="icon" data-icon="icon-home" data-path="assets/icons/" class="icon "></i> -->
                        <img src="assets/img/home.png" alt="Bank" height="40px;"  /> 
                      <span class="want-to-menu__text"> Borrow for your needs </span>
                                    </span>
                                </a>
  
                                <div class="want-to-menu__item-border"></div>
  
                            </li>
  
                            <li class="want-to-menu__item">
                                <a class="want-to-menu__link" href="#.html" target="_self">
                                    <span class="want-to-menu__item-inner">
  
                        <!-- <i data-component="icon" data-icon="icon-grow" data-path="assets/icons/" class="icon "></i> -->
                        <img src="assets/img/grow.png" alt="Bank" height="40px;"  /> 
                      <span class="want-to-menu__text"> Grow your money </span>
                                    </span>
                                </a>
  
                                <div class="want-to-menu__item-border"></div>
  
                            </li>
  
                            <li class="want-to-menu__item">
                                <a class="want-to-menu__link" href="#.html" target="_self">
                                    <span class="want-to-menu__item-inner">
  
                        <!-- <i data-component="icon" data-icon="Icons-umbrella" data-path="assets/icons/" class="icon "></i> -->
                        <img src="assets/img/insure.png" alt="Bank" /> 
                      <span class="want-to-menu__text"> Insure what matters</span>
                                    </span>
                                </a>
  
                            </li>
  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  
        <section>
            <div class="container">
                <div class="row">
  
                    <!-- <div class="col col-12 col-md-12"> -->
                        <!-- <div class="component switch-to-biz " data-trackingregion="content link > switch to business"> -->
                            <!-- <div class="row"> -->
                                <!-- <div class="col col-12"> -->
  
                                    <!-- <div class="title title--module-sub-title"> -->
                                        <!-- Run your own business? -->
  
                                    <!-- </div> -->
  
                                <!-- </div> -->
                            <!-- </div> -->
                            <!-- <div class="row"> -->
                                <!-- <div class="col col-12 col-md-6"> -->
  
                                    <!-- <p class="switch-to-biz__description">See our specialist accounts and solutions for entrepreneurs and small enterprises.</p> -->
  
                                <!-- </div> -->
                                <!-- <div class="col col-12 col-md-6"> -->
                                    <!-- <div class="switch-to-biz__link"> -->
  
                                        <!-- <a class="link" href="southafrica/business.html" target="_self" data-id="link_content_content links" data-text="switch to business | Switch to Business link click"> -->
                                            <!-- <span class="link__text" data-modal=""> -->
              <!-- Switch to Business	 -->
            <!-- </span> -->
                                        <!-- </a> -->
                                    <!-- </div> -->
                                <!-- </div> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
  
                    <div class="col col-12">
                        <div class="component value-proposition   ">
  
                            <h2 class="title title--module-title value-proposition__title">
            WHY YOUR NEXT MOVE SHOULD BE WITH US
          </h2>
  
                            <div class="value-proposition__row">
                                <div class="row">
  
                                    <div class="col col-6 col-md-3 d-flex flex-column">
                                        <div class="value-proposition-item">
                                            <div class="value-proposition-item__shield">
                                                <div class="value-proposition-item__shield-icon">
  
                                                    <i data-component="icon" data-icon="Icons-misc-3" data-path="assets/icons" class="icon "></i>
  
                                                </div>
                                                <i data-component="icon" data-icon="shield-background" class="icon " data-path="assets/icons/"></i>
                                            </div>
                                            <h3 class="title title--module-sub-title ">
      We’re ready to listen
  
    </h3>
  
                                            <div class="value-proposition-item__description ">Your goals and circumstances are unique – knowing them enables us to help you
                                            </div>
  
                                        </div>
                                    </div>
  
                                    <div class="col col-6 col-md-3 d-flex flex-column">
                                        <div class="value-proposition-item value-proposition-item--blue">
                                            <div class="value-proposition-item__shield">
                                                <div class="value-proposition-item__shield-icon">
  
                                                    <i data-component="icon" data-icon="icon-peace" data-path="assets/icons" class="icon "></i>
  
                                                </div>
                                                <i data-component="icon" data-icon="shield-background" class="icon " data-path="assets/icons/"></i>
                                            </div>
                                            <h3 class="title title--module-sub-title title--white">
      We can be trusted
  
    </h3>
  
                                            <div class="value-proposition-item__description value-proposition-item__text-white">The solutions we innovate for your convenience are supported by world-class security</div>
  
                                        </div>
                                    </div>
  
                                    <div class="col col-6 col-md-3 d-flex flex-column">
                                        <div class="value-proposition-item">
                                            <div class="value-proposition-item__shield">
                                                <div class="value-proposition-item__shield-icon">
  
                                                    <i data-component="icon" data-icon="icon-easy-pay" data-path="assets/icons" class="icon "></i>
  
                                                </div>
                                                <i data-component="icon" data-icon="shield-background" class="icon " data-path="assets/icons/"></i>
                                            </div>
                                            <h3 class="title title--module-sub-title ">
      We make life easy
  
    </h3>
  
                                            <div class="value-proposition-item__description ">Manage your accounts and payments wherever you are, whenever you like, on any device</div>
  
                                        </div>
                                    </div>
  
                                    <div class="col col-6 col-md-3 d-flex flex-column">
                                        <div class="value-proposition-item value-proposition-item--blue">
                                            <div class="value-proposition-item__shield">
                                                <div class="value-proposition-item__shield-icon">
  
                                                    <i data-component="icon" data-icon="Icons-selfie" data-path="assets/icons" class="icon "></i>
  
                                                </div>
                                                <i data-component="icon" data-icon="shield-background" class="icon " data-path="assets/icons/"></i>
                                            </div>
                                            <h3 class="title title--module-sub-title title--white">
      We put you in control
  
    </h3>
  
                                            <div class="value-proposition-item__description value-proposition-item__text-white">Our mobile banking app gives you easy, anytime access to your cards and accounts</div>
  
                                        </div>
                                    </div>
  
                                </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="col col-12">
                        <div class="component switch-to-sb gradient-orange" data-trackingregion="content link > switch to Alister bank">
  
                            <div class="title title--module-sub-title title--white">
                                Switch to Alister Bank
  
                            </div>
  
                            <p class="text-white">
                                Open an account online, right now. No documents and no need to queue at a branch.
                            </p>
  
                            <div class="switch-to-sb__button">
  
                                <a class="button button--large button--white button--centered" href="#.html" target="_self" data-modal="" data-id="link_content_content links" data-text="switch to Alister bank | Switch button click">
          Switch
  
               </a>
  
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </section>
  
        <div class="needs-goals" data-component="needs-goals">
            <div class="needs-goals-item swiper-container">
                <div class="needs-goals-item__row swiper-wrapper">
  
                    <div class="needs-goals-item__slider swiper-slide swiper-alt">
                        <div class="needs-goals-item__column" data-trackingregion="content links > Want a Gold Card that keeps pace with your lifestyle?">
                            <div class="col col-12 col-md-7 needs-goals-item__content-holder">
                                <div class="needs-goals-item__content">
                                    <div class="needs-goals-item__title title title--module-title title--white">
                                        Want a Gold Card that keeps pace with your lifestyle?
  
                                    </div>
                                    <p class="needs-goals-item__text text-white">Manage your money in a way that works for you.</p>
  
                                    <div class="needs-goals-item__button d-none d-sm-block">
                                        <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_content_content links" data-text="Want a Gold Card that keeps pace with your lifestyle? | Tell me more button click"> Tell me more </a>
                                    </div>
  
                                </div>
                            </div>
                            <div class="col col-12 col-md-5 needs-goals-item__block-container">
  
                                <div class="needs-goals-item__button--mobile d-block d-sm-none">
                                    <a class="button button--large" href="#.html" target="_self" data-modal="" data-id="link_content_content links" data-text="Want a Gold Card that keeps pace with your lifestyle? | Tell me more button click"> Tell me more </a>
                                </div>
  
                                <div class="needs-goals-item__block">
  
                                    <a class="needs-goals-item__block-item" href="#.html" target="_self" data-id="link_content_content button" data-text="Overdrafts ">
                                        <div class="needs-goals-item__icon" style="margin-bottom:3em;">
                      <img src="assets/img/overdraft.png" height="50" width="50" style="margin-left:-8px;" alt="overdraft"/>
                                        </div>
                                        <p>Overdrafts </p>
                                    </a>
  
                                    <a class="needs-goals-item__block-item" href="#.html" target="_self" data-id="link_content_content button" data-text="Banking app">
                                        <div class="needs-goals-item__icon" style="margin-bottom:3em;">
  
                                           <img src="assets/img/banking.png" height="50" width="50" style="margin-left:-8px;" alt="overdraft"/>
  
                                        </div>
                                        <p>Banking app</p>
                                    </a>
  
                                    <a class="needs-goals-item__block-item" href="#.html" target="_self" data-id="link_content_content button" data-text="Personal loans">
                                        <div class="needs-goals-item__icon" style="margin-bottom:3em;">
  
                                         <img src="assets/img/loan.png" height="50" width="50" style="margin-left:-8px;" alt="overdraft"/>
  
                                        </div>
                                        <p>Personal loans</p>
                                    </a>
  
                                    <a class="needs-goals-item__block-item" href="#.html" target="_self" data-id="link_content_content button" data-text="Gold credit card">
                                        <div class="needs-goals-item__icon" style="margin-bottom:3em;">
  
                                           <img src="assets/img/ccard.png" height="50" width="50" style="margin-left:-8px;" alt="credi Card"/>
                                        </div>
                                        <p>Gold credit card</p>
                                    </a>
  
                                </div>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
            <div class="slider__pagination-container">
                <div class="slider__nav slider__nav--prev swiper-button-prev">
                    <i data-component="icon" data-icon="arrow-left-slider" data-gradient="gradient" data-path="assets/icons/" class="icon ">
         </i>
                </div>
                <div class="slider__pagination swiper-pagination"></div>
                <div class="slider__nav slider__nav--next swiper-button-next">
                    <i data-component="icon" data-icon="arrow-right-slider" data-gradient="gradient" data-path="assets/icons/" class="icon ">
         </i>
                </div>
            </div>
        </div>
  
        
        <section class="white">
            <div class="container">
                <div class="row">
  
                    <div class="col col-12">
                        <div class="component lifestyle" data-component="lifestyle">
  
                            <div class="title title--module-title lifestyle__title">
  
                                Learn more
  
                            </div>
  
                            <div class="lifestyle-item swiper-container">
                                <div class="lifestyle-item__row swiper-wrapper">
  
                                    <div class="lifestyle-item__slider swiper-slide" style="margin-right:15px;">
                                        <!--lifestyle-item__slider swiper-slide swiper-alt-->
                                        <div class="feature-badge feature-badge--category">
  
                                            wheels
                                        </div>
  
                                        <div class="lifestyle-item__image-holder">
  
                                            <picture>
                                                <source srcset="assets/img/car.jpg" media="(min-width: 1024px)">
                                                <source srcset="assets/img/car.jpg" media="(min-width: 768px)">
                                                <img class='responsive-image ' src="assets/img/car.jpg" srcset="assets/img/car.jpg" alt="Should I Buy a New or Used Car">
                                            </picture>
                                        </div>
  
                                        <div class="lifestyle-item__content">
  
                                            <div class="title title--module-sub-title">
                                                Should I buy a new or used car?
  
                                            </div>
  
                                            <p class="lifestyle-item__description">
                                                Weigh up the pros and cons before you decide on buying brand-new or preowned.
  
                                            </p>
  
                                        </div>
  
                                        <div class="lifestyle-item__link" data-trackingregion="article list > Should I buy a new or used car?">
                                            <a class="link " href="#.html" target="_self" data-id="link_content_article list" data-text="Should I buy a new or used car? | Read more link click">
                                                <span class="link__text">
                           Read more
                           </span>
                                            </a>
                                        </div>
                                    </div>
  
                                    <div class="lifestyle-item__slider swiper-slide" style="margin-right:15px;">
                                        <!--lifestyle-item__slider swiper-slide swiper-alt-->
                                        <div class="feature-badge feature-badge--category">
  
                                            savings and investments
                                        </div>
  
                                        <div class="lifestyle-item__image-holder">
  
                                            <picture>
                                                <source srcset="assets/img/home-buying.jpg" media="(min-width: 1024px)">
                                                <source srcset="assets/img/home-buying.jpg" media="(min-width: 768px)">
                                                <img class='responsive-image ' src="assets/img/home-buying.jpg" srcset="assets/img/home-buying.jpg" alt="Wedding Budget and Savings Tips">
                                            </picture>
                                        </div>
  
                                        <div class="lifestyle-item__content">
  
                                            <div class="title title--module-sub-title">
                                                Wedding budget and savings tips
  
                                            </div>
  
                                            <p class="lifestyle-item__description">
                                                Dreaming of a perfect wedding to start your happily ever after? They can be costly affairs, but with a sound wedding budget and savings plan you could afford your perfect day.
  
                                            </p>
  
                                        </div>
  
                                        <div class="lifestyle-item__link" data-trackingregion="article list > Wedding budget and savings tips ">
                                            <a class="link " href="#.html" target="_self" data-id="link_content_article list" data-text="Wedding budget and savings tips  | Read more link click">
                                                <span class="link__text">
                           Read more
                           </span>
                                            </a>
                                        </div>
                                    </div>
  
                                    <div class="lifestyle-item__slider swiper-slide ">
                                        <!--lifestyle-item__slider swiper-slide swiper-alt-->
                                        <div class="feature-badge feature-badge--category">
  
                                            loans
                                        </div>
  
                                        <div class="lifestyle-item__image-holder">
  
                                            <picture>
                                                <source srcset="assets/img/swipe.jpg" media="(min-width: 1024px)">
                                                <source srcset="assets/img/swipe.jpg" media="(min-width: 768px)">
                                                <img class='responsive-image ' src="assets/img/swipe.jpg" srcset="assets/img/swipe.jpg" alt="5 Types of Personal Laons">
                                            </picture>
                                        </div>
  
                                        <div class="lifestyle-item__content">
  
                                            <div class="title title--module-sub-title">
                                                5 Types of personal loans
  
                                            </div>
  
                                            <p class="lifestyle-item__description">
                                                A brief guide explaining the various types of personal loans available.
  
                                            </p>
  
                                        </div>
  
                                        <div class="lifestyle-item__link" data-trackingregion="article list > 5 Types of personal loans">
                                            <a class="link " href="#.html" target="_self" data-id="link_content_article list" data-text="5 Types of personal loans | Read more link click">
                                                <span class="link__text">
                           Read more
                           </span>
                                            </a>
                                        </div>
                                    </div>
       
                                </div>
                            </div>
  
                            <div class="slider__pagination-container">
                                <div class="slider__nav slider__nav--prev swiper-button-prev">
                                    <i data-component="icon" data-icon="arrow-left-slider" data-gradient="gradient" data-path="assets/icons/" class="icon ">
            </i>
                                </div>
                                <div class="slider__pagination swiper-pagination"></div>
                                <div class="slider__nav slider__nav--next swiper-button-next">
                                    <i data-component="icon" data-icon="arrow-right-slider" data-gradient="gradient" data-path="assets/icons/" class="icon ">
            </i>
                                </div>
                            </div>
                        </div>
                    </div>
  
                </div>
            </div>
        </section>
  
        <section>
            <div class="container">
                <div class="row">
  
                    
                    
                </div>
            </div>
        </section>
  
    </main>
  
    <footer class="footer" data-component="footer-container">
        <!--         	<div class="footer__container"> -->
        <div class="footer__contacts-block">
  
            <div class="contact-card clearfix">
                <div class="contact-card__container" data-trackingregion="footer nav">
  
                    <!-- <div class="contact-card__block clearfix"> -->
                        <!-- <div class="title title--module-sub-title title--white contact-card__title"> -->
                            <!-- Fraud line -->
                        <!-- </div> -->
  
                        <!-- <ul class="contact-card__row"> -->
  
                            <!-- <li class="contact-card__list"> -->
                                <!-- <div class="contact-card__region"> -->
                                    <!-- <span class="title title--notes title--white "> -->
        <!-- South Africa -->
      <!-- </span> -->
                                <!-- </div> -->
                                <!-- <div class="contact-card__list-link"> -->
                                    <!-- <a class="title title--number-sml title--white" href="tel: 0800 020 600 "> -->
        <!-- 0800 020 600 -->
      <!-- </a> -->
                                <!-- </div> -->
                            <!-- </li> -->
  
                            <!-- <li class="contact-card__list"> -->
                                <!-- <div class="contact-card__region"> -->
                                    <!-- <span class="title title--notes title--white "> -->
        <!-- International -->
      <!-- </span> -->
                                <!-- </div> -->
                                <!-- <div class="contact-card__list-link"> -->
                                    <!-- <a class="title title--number-sml title--white" href="tel: +27 10 249 0100 "> -->
        <!-- +27 10 249 0100 -->
      <!-- </a> -->
                                <!-- </div> -->
                            <!-- </li> -->
  
                        <!-- </ul> -->
                    <!-- </div> -->
  
                    <div class="contact-card__block clearfix">
                        <div class="title title--module-sub-title title--white contact-card__title">
                            Get in Touch
                        </div>
  
                        <ul class="contact-card__row">
  
                            <li class="contact-card__list">
                                <div class="contact-card__region">
                                    <span class="title title--notes title--white ">
        South Africa
      </span>
                                </div>
                                <div class="contact-card__list-link">
                                    <a class="title title--number-sml title--white" href="tel: 0860 123 000 ">
        0860 123 000
      </a>
                                </div>
                            </li>
  
                            <li class="contact-card__list">
                                <div class="contact-card__region">
                                    <span class="title title--notes title--white ">
        International
      </span>
                                </div>
                                <div class="contact-card__list-link">
                                    <a class="title title--number-sml title--white" href="tel: +27 10 249 0423 ">
        +27 10 249 0423
      </a>
                                </div>
                            </li>
  
                        </ul>
                    </div>
  
                    <!-- <div class="contact-card__block clearfix"> -->
                        <!-- <div class="title title--module-sub-title title--white contact-card__title"> -->
                            <!-- Lost or Stolen Cards -->
                        <!-- </div> -->
  
                        <!-- <ul class="contact-card__row"> -->
  
                            <!-- <li class="contact-card__list"> -->
                                <!-- <div class="contact-card__region"> -->
                                    <!-- <span class="title title--notes title--white "> -->
        <!-- South Africa -->
      <!-- </span> -->
                                <!-- </div> -->
                                <!-- <div class="contact-card__list-link"> -->
                                    <!-- <a class="title title--number-sml title--white" href="tel: 0800 020 600 "> -->
        <!-- 0800 020 600 -->
      <!-- </a> -->
                                <!-- </div> -->
                            <!-- </li> -->
  
                            <!-- <li class="contact-card__list"> -->
                                <!-- <div class="contact-card__region"> -->
                                    <!-- <span class="title title--notes title--white "> -->
        <!-- International -->
      <!-- </span> -->
                                <!-- </div> -->
                                <!-- <div class="contact-card__list-link"> -->
                                    <!-- <a class="title title--number-sml title--white" href="tel: +27 10 249 0100 "> -->
        <!-- +27 10 249 0100 -->
      <!-- </a> -->
                                <!-- </div> -->
                            <!-- </li> -->
  
                        <!-- </ul> -->
                    <!-- </div> -->
  
                    <div class="contact-card__block clearfix">
  
                        <ul class="contact-card__row">
  
                            <li class="contact-card__bold-list">
                                <a class="link link--white" href="#.html" target="_self">
                                    <span class="link__text">
        Contact Us
      </span>
                                </a>
                            </li>
  
  
                        </ul>
                    </div>
  
                </div>
            </div>
  
            <div class="about-card">
                <div class="about-card__container " data-trackingregion="footer nav">
  
                    <div class="title title--module-sub-title about-card__title">
                        Get to know us
                    </div>
  
                    <ul class="about-card__row">
  
                        <li class="about-card__list">
                            <a class="link" href="#.html" target="_blank">
                                <span class="link__text">
        News centre
      </span>
                            </a>
                        </li>
  
                        <li class="about-card__list">
                            <a class="link" href="http://reporting.standardbank.com/" target="_blank">
                                <span class="link__text">
        Investor relations
      </span>
                            </a>
                        </li>
  
                        <li class="about-card__list">
                            <a class="link" href="#.html" target="_blank">
                                <span class="link__text">
        Alister Bank Group
      </span>
                            </a>
                        </li>
  
                        <li class="about-card__list">
                            <a class="link" href="http://sponsorships.standardbank.com/" target="_blank">
                                <span class="link__text">
        Who we sponsor
      </span>
                            </a>
                        </li>
  
                        <li class="about-card__list">
                            <a class="link" href="#.html" target="_blank">
                                <span class="link__text">
        Who we are 
      </span>
                            </a>
                        </li>
  
                    </ul>
  
                   
                </div>
            </div>
        </div>
  
        <!-- <div class="app-card clearfix"> -->
            <!-- <div class="footer__container" data-trackingregion="footer nav"> -->
  
                <!-- <div class="app-card__app-title-block"> -->
                    <!-- <div class="title title--module-sub-title app-card__app-title"> -->
                        <!-- Alister Bank App -->
                    <!-- </div> -->
                <!-- </div> -->
  
                <!-- <div class="app-card__icons-block"> -->
                    <!-- <div class="app-card__icon-container"> -->
  
                        <!-- <div class="app-card__icon"> -->
                            <!-- <a href="https://play.google.com/store/apps/details?id=com.sbg.mobile.phone" data-id="link_footer_footer nav" data-text="Alister Bank App | Get it on Google Play" title="Get it on Google Play" target="_blank"> -->
                                <!-- <i data-component="icon" data-icon="google-play-badge" class="icon " data-path="assets/icons/"></i> -->
                            <!-- </a> -->
                        <!-- </div> -->
  
                        <!-- <div class="app-card__icon"> -->
                            <!-- <a href="https://itunes.apple.com/za/app/Alister-bank-stanbic-bank/id528239110?mt=8" data-id="link_footer_footer nav" data-text="Alister Bank App | Download on the App Store" title="Download on the App Store" target="_blank"> -->
                                <!-- <i data-component="icon" data-icon="app-store-badge" class="icon " data-path="assets/icons/"></i> -->
                            <!-- </a> -->
                        <!-- </div> -->
  
                    <!-- </div> -->
                <!-- </div> -->
                <!-- <div class="app-card__snapshot"> -->
  
                    <!-- <picture> -->
                        <!-- <source srcset="Resources/img/app.png" media="(min-width: 1024px)"> -->
  
                        <!-- <img src='static_file/Resources/img/app.png' srcset="Resources/img/app.png" alt="app.png"> -->
  
                        <!-- <source srcset="Resources/img/app.png" media="(min-width: 768px)"> -->
  
                    <!-- </picture> -->
  
                <!-- </div> -->
  
            <!-- </div> -->
        <!-- </div> -->
  
        <div class="footer-card clearfix">
            <div class="footer__container">
                <div class="footer-card__block">
                    <div class="footer-card__content" data-trackingregion="footer nav">
                        <div class="row no-gutters">
  
                            <div class="col col-12 col-md-8 footer-card__left">
  
                                <div class="row">
                                    <div class="col col-12">
                                        <ul class="footer-card__links-block">
  
                                            <li class="footer-card__link-list">
                                                <a class="footer-card__link" href="#.html">
                Security Centre
              </a>
                                            </li>
  
                                            <li class="footer-card__link-list">
                                                <a class="footer-card__link" href="#.html">
                Regulatory
              </a>
                                            </li>
  
                                            <li class="footer-card__link-list">
                                                <a class="footer-card__link" href="#.html">
                Legal
              </a>
                                            </li>
  
                                            <li class="footer-card__link-list">
                                                <a class="footer-card__link" href="#.html">
                Terms&Conditions
              </a>
                                            </li>
  
                                        </ul>
                                    </div>
                                </div>
  
                                <div class="row">
                                    <div class="col col-12">
                                        <div class="footer-card__disclaimer">
                                            Alister Bank is a licensed financial services provider in terms of the Financial Advisory and Intermediary Services Act and a registered credit provider in terms of the National Credit Act, registration number NCRCP15
                                        </div>
                                    </div>
                                </div>
  
                            </div>
  
                            <div class="col col-12 col-md-4 footer-card__right">
                                <div class="footer-card__social-block">
  
                                    <div class="footer-card__social-list">
                                        <div class="footer-card__social-link">
                                            <a target="_blank" href="https://www.linkedin.com/company/standard-bank-south-africa/">
                                                <i data-component="icon" data-icon="linkedin" class="icon"></i>
                                            </a>
                                        </div>
                                    </div>
  
                                    <div class="footer-card__social-list">
                                        <div class="footer-card__social-link">
                                            <a target="_blank" href="https://www.youtube.com/channel/UC_oz5no5MIucu45I4PO9nCQ">
                                                <i data-component="icon" data-icon="youtube" class="icon"></i>
                                            </a>
                                        </div>
                                    </div>
  
                                    <div class="footer-card__social-list">
                                        <div class="footer-card__social-link">
                                            <a target="_blank" href="https://www.facebook.com/StandardBankSA">
                                                <i data-component="icon" data-icon="facebook" class="icon"></i>
                                            </a>
                                        </div>
                                    </div>
  
                                    <div class="footer-card__social-list">
                                        <div class="footer-card__social-link">
                                            <a target="_blank" href="http://www.twitter.com/standardbankza">
                                                <i data-component="icon" data-icon="twitter" class="icon"></i>
                                            </a>
                                        </div>
                                    </div>
  
                                </div>
                            </div>
  
                        </div>
  
                    </div>
                </div>
            </div>
        </div>
        <!--         	</div> -->
    </footer>
  
   
  

  
  <!-- <router-outlet></router-outlet> -->
  