<!-- <app-time-filter></app-time-filter> -->
<!-- <div class="form-group col-sm-12" id="bsdatepicker">
      <div class="col-sm-3 date">
          <div class="input-group input-append date" id="datePickerStart12">
              <input type="text" class="form-control" name="date1" >
              <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
      </div>
      <div class="col-sm-3 date">
        <div class="input-group input-append date" id="datePickerEnd">
            <input type="text" class="form-control" name="date" >
            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div> -->
<!-- <div class="form-group col-sm-12" style="margin-top:25px">
      <div class="col-sm-6">
      <select class="form-control">
          <option selected>Leave Type</option>
          <option>LeaveType-01</option>
        <option>LeaveType-02</option>
      </select>
    </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-6">
        <textarea cols="47" rows="5"></textarea>
      </div>
      </div> -->
<!-- </div> -->

<ng-template #footerTemplate>
  <hr class="my-0">
  <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
  <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
</ng-template>

<div id="In2CB_chaticon">
  <div class="convbot-button">
    <a href="javascript:void(0);" id="addClass">
      <img (click)="toggleCh();" class="convbot convbot-open" src="assets/img/chatboat.jpeg" style="display: inline; height:50px; width:50px; margin:15%;"> </a>
  </div>
</div>





<div id="In2CB_chatdiv" class="close" style="z-index: 99999;">
  <div id="In2CB_chatContainer" class="In2CB_container">
    <div>
      <div id="In2CB_chatDetails" class="In2CB_full">
        <div class="icon-bg"></div>
        <div class="row">
          <div class="col-sm-4">
            <img (click)="toggleCh();" class="icon" src="assets/images/Harkrishan-Singh.jpg">
            <div style="padding-left: 61%;margin-top: 9%;">
             iBuddy
            </div>
          </div>
        </div>
      </div>

      <div id="In2CB_chatBoxMainContainer" style="overflow-x: hidden;">
        <div data-role="page" data-url="/conv/S1kkYp/" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" style="outline: none;"
          id="qnimate">
          <ul class="pages" style="margin-top: 0px;">
            <li class="chat page">
              <div class="chatArea" style="padding-bottom: 264px;">
                <ul class="messages">
                  <li [ngSwitch]="cm_.type" *ngFor="let cm_ of modMess_.content; let i=index" [ngClass]="(cm_.src === 'mcn')?'message pull-left  ':'message pull-right '"
                    style="display: list-item; clear: both; list-style: none;margin: 0px 20px;">

                    <ng-template [ngSwitchCase]="'form'">
                      <div class="{{cm_.formCss}}">
                        <form name="{{cm_.name}}" #f="ngForm" novalidate class="form-horizontal" role="form">
                          <div *ngFor="let flds_ of cm_.fields; let j=index;" class="{{flds_.outercss}}" data-tip="This is the text of the tooltip2">
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:text'">
                              <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" placeholder="{{flds_.placeholder}}" style="width: 285px;
                                  margin-bottom: 10px;" [(ngModel)]="flds_.model" name="uname_{{i}}{{j}}" [required]="flds_.required"
                                  [readonly]="!flds_.editable" class="form-control">
                              </div>
                            </div>
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:number'">
                              <div class="col-md-12">
                                <input [(ngModel)]="flds_.model" style="width: 100%;
                                  margin-bottom: 10px;" type="number" placeholder="{{flds_.placeholder}}" name="uname_{{i}}{{j}}"
                                  [required]="flds_.required" [readonly]="!flds_.editable" class="form-control">
                              </div>
                            </div>
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'input:email'">
                              <div class="col-xl-12">
                                <input [(ngModel)]="flds_.model" style="width: 100%;
                                  margin-bottom: 10px;" type="email" placeholder="{{flds_.placeholder}}" name="uname_{{i}}{{j}}"
                                  [required]="flds_.required" [readonly]="!flds_.editable" class="form-control">
                              </div>
                            </div>
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'select'">
                              <select style="width: 285px;margin-bottom: 10px;word-wrap: break-word;
                              text-overflow: inherit;
                              white-space: normal;" (change)="onDynamicDDChange($event.target.value ,cm_.fields,flds_ ,flds_.onchange )"
                                class="form-control" id="select" name="networkvpc" [(ngModel)]="flds_.model">
                                <option *ngFor="let n of flds_.options; let ddNdx=index;" value="{{n.value}}">{{n.key}}</option>
                              </select>
                            </div>
                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'link:a'">

                              <button type="button" class="btn btn-sm btn-primary col-sm-12" style="padding: 0px;height: 30px;font-size: 14px;">
                                <a href="{{flds_.value}}" target="{{flds_.target}}">
                                  <span style="color: #ffffff;">{{flds_.labelName}}</span>
                                </a>
                              </button>
                            </div>

                            <!-- <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'mess:keyValue'">
                              <table class="ctm-chatbot-table" cellspacing="0">
                                <thead class="">
                                  <tr>
                                    <th style="width:10%; text-align: center">Days</th>
                                    <th style="width:25%">Start Data</th>
                                    <th style="width:25%">End Data</th>
                                    <th style="width:40%">Comment</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let chData of flds_.options">

                                    <td align="center">{{chData.days}}</td>
                                    <td>{{chData.start_date}}</td>
                                    <td>{{chData.end_date}}</td>
                                    <td>{{chData.comment}}</td>

                                  </tr>
                                </tbody>
                              </table>
                            </div> -->

                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'dynamic:table'">
                              <table class="ctm-chatbot-table" cellspacing="0">
                                <thead class="">
                                  <tr>
                                    <th *ngFor="let h of flds_.headers;">{{h}}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let tData of flds_.options">
                                    <td align="center" *ngFor="let h of flds_.headers;">{{tData[h]}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'key:value'">
                              <table class="table-responsive">
                                <tr *ngFor="let kv of flds_.options; let op=index;">
                                  <td style="width:57%;word-wrap: break-;padding-bottom: 10px;" align="left">{{kv.key}}</td>
                                  <td style="width:3%;word-wrap: break-word;padding-bottom: 10px;" align="left">:</td>
                                  <td style="width:40%;word-wrap: break-word;padding-bottom: 10px;" align="left">{{kv.value}}</td>
                                </tr>
                              </table>
                            </div>

                            <!-- <div class="{{flds_.cssclass}}" style="padding: 2px 0 0 16px;" *ngIf="flds_.type == 'message:key'">
                              <table class="ctm-chatbot-table container-fluid" style="margin: 0 -15px; width: 100%;" cellspacing="0">
                                <thead class="thead-light">
                                  <tr>
                                    <th style="width:30%; text-align: center">Username</th>
                                    <th style="width:30%">Title</th>
                                    <th style="width:40%">Name</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let chData of flds_.options">

                                    <td align="center">{{chData.username}}</td>
                                    <td>{{chData.title}}</td>
                                    <td>{{chData.name}}</td>


                                  </tr>
                                </tbody>
                              </table>
                            </div> -->

                            <div class="{{flds_.cssclass}} form-group col-sm-12 In2-date-100per" *ngIf="flds_.type == 'date:startdate'">
                              <div class="">
                                  <label class="form-label col-md-12">Start Date</label>
                                <div class="col-sm-4">
                                  
                                  <select class="form-control" name="syear" [(ngModel)]="date.start.y" style="width:95px;">
                                    <option value="2019">2019</option>
                                  </select>
                                </div>
                                
                                <div class="col-sm-4">
                                  <select class="form-control" name="smonth" [(ngModel)]="date.start.m" style="width:95px;">
                                    <option value="" selected="selected">Month</option>
                                    <option Value="1">January</option>
                                    <option Value="2">Febraury</option>
                                    <option Value="3">March</option>
                                    <option Value="4">April</option>
                                    <option Value="5">May</option>
                                    <option Value="6">June</option>
                                    <option Value="7">July</option>
                                    <option Value="8">August</option>
                                    <option Value="9">September</option>
                                    <option Value="10">October</option>
                                    <option Value="11">November</option>
                                    <option Value="12">December</option>
                                  </select>
                                </div>
                                <div class="col-sm-4">
                                  <select class="form-control" name="sdate" [(ngModel)]="date.start.d" style="width:95px;">
                                    <option value="">Date</option>
                                    <option Value="01">1</option>
                                    <option Value="02">2</option>
                                    <option Value="03">3</option>
                                    <option Value="04">4</option>
                                    <option Value="05">5</option>
                                    <option Value="06">6</option>
                                    <option Value="07">7</option>
                                    <option Value="08">8</option>
                                    <option Value="09">9</option>
                                    <option Value="10">10</option>
                                    <option Value="11">11</option>
                                    <option Value="12">12</option>
                                    <option Value="13">13</option>
                                    <option Value="14">14</option>
                                    <option Value="15">15</option>
                                    <option Value="16">16</option>
                                    <option Value="17">17</option>
                                    <option Value="18">18</option>
                                    <option Value="19">19</option>
                                    <option Value="20">20</option>
                                    <option Value="21">21</option>
                                    <option Value="22">22</option>
                                    <option Value="23">23</option>
                                    <option Value="24">24</option>
                                    <option Value="25">25</option>
                                    <option Value="26">26</option>
                                    <option Value="27">27</option>
                                    <option Value="28">28</option>
                                    <option Value="29">29</option>
                                    <option Value="30">30</option>
                                    <option Value="31">31</option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="{{flds_.cssclass}} form-group col-sm-12 In2-date-100per" *ngIf="flds_.type == 'date:enddate'">
                              <div class="">
                                  <label class="form-label col-md-12">End Date</label>
                                <div class="col-sm-4">
                                  <select class="form-control" name="syear" [(ngModel)]="date.end.y" style="width:95px;">
                                    <option value="2019">2019</option>
                                  </select>
                                </div>
                                <div class="col-sm-4">
                                  <select class="form-control" name="smonth" [(ngModel)]="date.end.m" style="width:95px;">
                                    <option value="">Month</option>
                                    <option Value="1">January</option>
                                    <option Value="2">Febraury</option>
                                    <option Value="3">March</option>
                                    <option Value="4">April</option>
                                    <option Value="5">May</option>
                                    <option Value="6">June</option>
                                    <option Value="7">July</option>
                                    <option Value="8">August</option>
                                    <option Value="9">September</option>
                                    <option Value="10">October</option>
                                    <option Value="11">November</option>
                                    <option Value="12">December</option>
                                  </select>
                                </div>
                                <div class="col-sm-4">
                                  <select class="form-control" name="sdate" [(ngModel)]="date.end.d" style="width:95px;">
                                    <option value="">Date</option>
                                    <option Value="01">1</option>
                                    <option Value="02">2</option>
                                    <option Value="03">3</option>
                                    <option Value="04">4</option>
                                    <option Value="05">5</option>
                                    <option Value="06">6</option>
                                    <option Value="07">7</option>
                                    <option Value="08">8</option>
                                    <option Value="09">9</option>
                                    <option Value="10">10</option>
                                    <option Value="11">11</option>
                                    <option Value="12">12</option>
                                    <option Value="13">13</option>
                                    <option Value="14">14</option>
                                    <option Value="15">15</option>
                                    <option Value="16">16</option>
                                    <option Value="17">17</option>
                                    <option Value="18">18</option>
                                    <option Value="19">19</option>
                                    <option Value="20">20</option>
                                    <option Value="21">21</option>
                                    <option Value="22">22</option>
                                    <option Value="23">23</option>
                                    <option Value="24">24</option>
                                    <option Value="25">25</option>
                                    <option Value="26">26</option>
                                    <option Value="27">27</option>
                                    <option Value="28">28</option>
                                    <option Value="29">29</option>
                                    <option Value="30">30</option>
                                    <option Value="31">31</option>
                                  </select>
                                </div>
                              </div>
                            </div>


                            <div class="col-md-6 ctmbtn">
                              <div class="{{flds_.cssclass}}" *ngIf="flds_.type == 'button:submit'">
                                <button type="submit" [disabled]="f.form.valid && !flds_.editable" (click)="f.form.valid && formSubmission(cm_,j,flds_.action);"
                                  class="{{flds_.elemCss}}"> {{flds_.labelName}}</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </ng-template>

                    <ng-template [ngSwitchCase]="'textmessage'">
                      <div class="row" *ngIf="cm_.src === 'usr'" style="float:right;">
                        <div *ngIf="cm_.src === 'usr' && cm_.type == 'textmessage'" [ngClass]="(cm_.src === 'mcn')?'messageBody ui-chatbox-msg alert chat-bubble user-chat-bubble padding-no-margin pull-left text-bubble ':'messageBody sent-message ui-chatbox-msg alert chat-bubble my-chat-bubble padding-no-margin pull-right '">
                          <span class="">
                            <span class="text-span">{{cm_.value}}</span>
                          </span>
                        </div>
                        <div *ngIf="cm_.src === 'usr' && cm_.type == 'textmessage'">
                          <span class="pull-right" style="margin-right:10px;">
                            <img src="assets/images/Harkrishan-Singh.jpg" alt="Avatar" class="avatar">
                          </span>
                        </div>
                      </div>
                      <div class="row" *ngIf="cm_.src === 'mcn'">
                        <img src="assets/images/robot.png" alt="Robot" class="robot">

                        <div class="" style="margin-bottom: 6px!important;" [ngClass]="(cm_.src === 'mcn')?'messageBody ui-chatbox-msg alert chat-bubble user-chat-bubble padding-no-margin pull-left text-bubble ':'messageBody sent-message ui-chatbox-msg alert chat-bubble my-chat-bubble padding-no-margin pull-right '">
                          <span class="text-span">{{cm_.value}}</span>
                        </div>
                      </div>  

                    </ng-template>
                    <ng-template ngSwitchDefault></ng-template>
                  </li>

                  <li id="indicator" *ngIf="isloading" class="message col-xs-9 pull-left open">
                    <div class="row">
                      <div class="col-md-2">
                        <span class="pull-left">
                          <img src="assets/images/robot.png" alt="Robot" class="robot">
                        </span>
                      </div>

                      <div class="col-md-3" style="text-align: left;margin-left:1%;">
                        <span class="">
                          <div class="typing-indicator">
                            <span></span>
                            <span></span>
                            <span></span>
                          </div>
                        </span>
                      </div>
                    </div>


                  </li>

                  <li *ngIf="modMess_.showCarts && modMess_.custCards.length>0" class="message col-xs-12 open" style="display: list-item;background-color: rgba(255, 255, 255, 0.15) !important;width:100%;">
                    <div class="messageBody ui-chatbox-msg alert chat-bubble user-chat-bubble padding-no-margin pull-left text-bubble " style="background-color: rgba(255, 255, 255, 0.15);">
                      <div iui="buttons_vertical" style="    background-color: rgba(255, 255, 255, 0.15);">
                        <ul class="list-group selectOptions snackbar-options">
                          <li *ngFor="let crd_ of modMess_.custCards; let cNdx=index;" (click)="boatCardClk(crd_);" style="width:100%;" class="media list-group-item choose send-now">
                            <div class="media-body va_basline">
                              <h4 class="media-heading snackBar_button large">{{crd_.label}}</h4>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>
              <div id="calibrateDiv" style="position: absolute; bottom: 40%;"></div>
              <div *ngIf="modMess_.typingEnable && manageMszBoxDiv()" class="inputContainter hide-state" id="mszboxDiv" style="bottom: 220px;">
                <div class="ui-input-text ui-body-inherit ui-corner-all ui-state-disabled ui-shadow-inset">
                  <input class="inputMessage" id="myMessage" #item autocapitalize="off" type="text" (ngModelChange)="onChange(item.value)"
                    (keyup.enter)="sendMessage()" placeholder="{{chttxt_plcholder}}">
                </div>
                <button *ngIf="item.value != ''" id="send-button" class="sendButton ui-btn ui-shadow ui-corner-all">
                  <i id="send_button_icon" (click)="sendMessage()" class="fa fa-send-o" aria-hidden="true" style="display: inline-block;"></i>
                </button>
                <button *ngIf="item.value == ''" id="microphone" (mousedown)="mouseDown($event)" class="sendButton ui-btn ui-shadow ui-corner-all">
                  <i id="send_button_icon" class="fa fa-microphone" aria-hidden="true" style="display: inline-block;"></i>
                </button>

              </div>
              <div id="suggestion-menu-container" class="search-suggestions" style="display: none">
                <ul class="list-group search-suggestions-options"></ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="ui-loader ui-corner-all ui-body-a ui-loader-default">
          <span class="ui-icon-loading"></span>
          <h1>loading</h1>
        </div>
        <div class="close-ontop" title="Close">
          <div class="hook">
            <svg width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 4.586l4.24-4.24c.395-.395 1.026-.392 1.416-.002.393.393.39 1.024 0 1.415L7.413 6l4.24 4.24c.395.395.392 1.026.002 1.416-.393.393-1.024.39-1.415 0L6 7.413l-4.24 4.24c-.395.395-1.026.392-1.416.002-.393-.393-.39-1.024 0-1.415L4.587 6 .347 1.76C-.05 1.364-.048.733.342.343c.393-.393 1.024-.39 1.415 0L6 4.587z"
                fill-rule="evenodd" style="fill: #fff;"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>