.messages li{list-style-type:none; clear: both; display: inline-block !important;}
.messages img.robot{float: left;
    max-width: 30px;
    width: 100%;
    margin:0 15px;
    border-radius: 50%;}

    