<div class="right_content">
  <div class="container">
    <div class="row mbr-justify-content-center">
      <div class="col-lg-12"> <a href="#">
        <div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Developer Laptop (Mac)</h2>
            <p class="mbr-text">Macbook Pro</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body"><div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/4e4efd444f889200086eeed18110c7e6.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9">
                        <p>The Apple Macbook Pro is laptop that is second to none. It provides a Retina display that fights glare and weighs approximately five pounds. High powered enough to complete computing tasks. </p>
                        <strong>Services Include:</strong>
                        <ul>
                          <li>Intel core i7 processor</li>
                          <li>512GB PCIe-based flash storage</li>
                          <li>Intel Iris Pro Graphics</li>
                          <li>Backlit keyboard</li>
                        </ul>
                      </div>
                    </div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-12"> <a href="#">
        <div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Sales Laptop</h2>
            <p class="mbr-text">Acer Aspire NX</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/bbc00e844f889200086eeed18110c756.iix" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"> <strong>Service  Overview</strong>
                        <p>The corporate standard laptop for sales employees.<br>High performance and light weight.</p>
                                                                                                                          <strong>Item Includes:</strong>
                        <ul>
                          <li>2.5 GHz intel Core i5 Processor</li>
                          <li>750 GB Hard Drive</li>
                          <li>8 GB RAM</li>
                          <li>Microsoft Windows 8</li>
                                                                                                                          <li>Microsoft Office</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Standard Laptop</h2>
            <p class="mbr-text">Lenovo - Carbon x1</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/b28db9444f889200086eeed18110c724.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"> <strong>x1 Carbon</strong>
                        <p>The x1 Carbon is Lenovo's lightest ThinkPad yet. It provides a QHD display that fights glare and weighs less than three pounds. Ideal for most computing tasks, and highly mobile. </p>
                        <strong>Technical Specs::</strong>
                        <ul>
                          <li>Intel core i5 processor</li>
                          <li>512GB solid state drive (SSD) </li>
                          <li>Backlit keyboard</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-clock-o fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Apple Watch</h2>
            <p class="mbr-text">Apple Watch - Their most personal device ever</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/8e99daa3ff133100ba13ffffffffff2d.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9">  
                                                                                                            <p>We are making the Apple Watch available to all field technicians so they can stay up with workloads, get notifications, and take quick actions for approvals and assignments.</p>
                        <strong>We are providing the Sport model with:</strong>
                        <ul>
                          <li>42mm space gray and black sport band</li>
                          <li>42mm silver aluminum with either the white or blue band</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-clock-o fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Apple Watch Series 2</h2>
            <p class="mbr-text">Apple Watch Series 2</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/02387c0910247200964f77ffeec6c467.iix?t=large" class="img-fluid" alt=""/> </div>
                      <div class="col-md-9">
                        <p>We are making the Apple Watch available to all field technicians so they can stay up with workloads, get notifications, and take quick actions for approvals and assignments.</p>
                        <strong>We are providing the Sport model with:</strong>
                        <ul>
                          <li>38mm/42mm space gray and black sport band</li>
                          <li>38mm/42mm silver aluminum with either the white or blue band</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span></div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Microsoft Surface Pro 3</h2>
            <p class="mbr-text">Microsoft Surface Pro 3</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/0edebd3f9f021200736af84bc42e70b0.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"> 
                                                                                                            <p> The 12-inch Surface Pro 3 is the tablet that can replace your laptop (Type Cover sold separately). </p>
                        <ul>
                          <li>12-inch Full HD touchscreen display</li>
                          <li>Windows 10 Pro operating system</li>
                                                                                                                          <li>Intel i3, i5, or i7 4th Gen available</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Windows Surface Pro 4</h2>
            <p class="mbr-text">Windows Surface Pro 4</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/61828abf9f021200736af84bc42e7044.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"> <strong>Service Overview:</strong>         
                                                                                                            <p>The Microsoft Surface Book is the ultimate laptop and one of the most productive devices on the planet. It runs the current Microsoft Operating System, is portable like a tablet, but has a full keyboard.</p>
                        <strong>Features include:</strong>
                        <ul>
                          <li>12.3 PixelSense display</li>
                          <li>Intel core i5 processor</li>
                          <li>9 hours of battery life</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Apple MacBook Pro 15"</h2>
            <p class="mbr-text">Apple MacBook Pro</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEight">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                  <div class="panel-body">
                                                                                          
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/c82c480ccb821200f2de77a4634c9c64.iix?t=large" class="img-fluid" alt=""/> </div>
                      <div class="col-md-9"><strong>Apple MacBook Pro MD104LL/A 15.4-Inch Laptop</strong>
                       
                        <ul>
                          <li>2.6 GHz Quad-Core Intel Core i7 processor</li>
                          <li>8 GB DDR3 RAM; 750 GB Hard Drive</li>
                                                                                                                          <li>15.4 inch LED-backlit display, 1440-by-900 resolution</li>
                                                                                                                          <li>NVIDIA GeForce GT 650M 1GB Graphics</li>
                                                                                                                          <li>Mac OS X v10.7 Lion, 7 Hour Battery Life</li>
                        </ul>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </a> </div>
                                                        
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Asus G Series</h2>
            <p class="mbr-text">Asus G Series</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/89aec80ccb821200f2de77a4634c9c94.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9">
                        <strong>Asus G Series Notebook:</strong>
                        <ul>
                          <li>Intel Core i7-2630QM 2.0GHz</li>
                                                                                                                                        <li>8GB Memory 500GB HDD</li>
                                                                                                                                        <li>NVIDIA GeForce GTX 460M</li>
                                                                                                                                        <li>DVD Super Multi</li>
                        </ul>
                      </div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Development Laptop (PC)</h2>
            <p class="mbr-text">Dell XPS 13</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/407e31844f889200086eeed18110c7ef.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"> <strong>Dell XPS 13</strong>      
                                                                                                            <p>The corporate standard laptop for developers. High performance processing and storage.</p>
                        <strong>Specifications:</strong>
                        <ul>
                          <li>3.1 GHz Intel Core i7 processor</li>
                          <li>250 GB or 500GB Solid State Drive</li>
                          <li>8 GB RAM</li>
                                                                                                                          <li>Microsoft Windows 8 or Ubuntu</li>
                                                                                                                          <li>Tomcat, Eclipse, Firefox, Chrome</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-laptop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Notebook Computer Loaner</h2>
            <p class="mbr-text">Loaner Laptop</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEleven">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/67cdf9444f889200086eeed18110c7f9.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9"><p>Did you break your laptop?  Maybe lost it?  Need a temporary loaner?  We can help.<br>
In order to take advantage of a loaner notebook computer, you must meet company eligibility requirements per the Notebook Loaner Policy<br>
Loaner laptops will be provided based on what devices are available. </p>                                
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        
                                                        <div class="col-lg-12">
         <a href="#"><div class="wrapfull">
          <div class="ico-wrap"> <span class="mbr-iconfont fa-desktop fa"></span> </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-section-title">Office Desktop</h2>
            <p class="mbr-text">Dell Desktop</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwelve">
                  <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve"> Preview <i class="more-less fa fa-plus"></i> </a> </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-3"> <img src="https://dev67126.service-now.com/bdbdf9444f889200086eeed18110c7f3.iix?t=large" class="img-fluid" alt="" /> </div>
                      <div class="col-md-9">
                        <strong>Dell OptiPlex GX280 - the standard desktop for corporate employee</strong>
                        <ul>
                          <li>Intel i7 processor</li>
                          <li>Microsoft Windows 7</li>
                          <li>500 GB solid state hard drive</li>
                                                                                                                          <li>8GB of 533MHz</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
                                                        
                                                        
                                                        </div>
                                                        
                                                        
  </div>
  
  <div class="clearfix"></div>
</div>
