
<!-- <app-header></app-header> -->
<!--<app-left-sidebar></app-left-sidebar> -->
<!-- <router-outlet></router-outlet> -->


<div class="main_content">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>


<!-- <app-chatbot></app-chatbot> -->
<app-new-chat-bot></app-new-chat-bot>
   <!-- <app-footer></app-footer> -->