
<div class="col-lg-9">
  <div class="right_content"  >
      <div class="container">
          <div class="row mbr-justify-content-center"  >
              <div class="col-lg-6">
                  <a style="cursor: pointer;" (click)="servicesClick()">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-gear fa"></span>
                          </div>
                          <div class="text-wrap vcenter" >
                              <h2 class="mbr-section-title">Services</h2>
                              <p class="mbr-text">Document production services. Create and produce high-quality, professional
                                  documents.
                              </p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-6" >
                  <a style="cursor: pointer;" (click)="hardwareClick()">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-desktop fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Hardware</h2>
                              <p class="mbr-text">Order from a variety of hardware to meet your business needs, including phones,
                                  tablets and laptops.</p>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-lg-6" >
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-question fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Can We Help You?</h2>
                              <p class="mbr-text">Your IT gateway. Report issues and submit requests.</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-6">
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-folder-open-o fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Software</h2>
                              <p class="mbr-text">A range of software products available for installation on your corporate
                                  laptop or desktop computer.</p>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-lg-6">
                  <a href="index.html">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-building fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Office</h2>
                              <p class="mbr-text">Office services such as printing, supplies requisition and document shipping
                                  and delivery.</p>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-lg-6">
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-desktop fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Desktops</h2>
                              <p class="mbr-text">Desktop computers for your work area.</p>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-lg-6">
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-plug fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Peripherals</h2>
                              <p class="mbr-text">End user peripherals such as mobile phone cases, dongles, and cables</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-6">
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-mobile fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Mobiles</h2>
                              <p class="mbr-text">Cell phones to meet your business needs.</p>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="col-lg-6">
                  <a href="#">
                      <div class="wrap">
                          <div class="ico-wrap">
                              <span class="mbr-iconfont fa-file-text-o fa"></span>
                          </div>
                          <div class="text-wrap vcenter">
                              <h2 class="mbr-section-title">Provisioning</h2>
                              <p class="mbr-text">AWS Azure</p>
                          </div>
                      </div>
                  </a>
              </div>
          </div>

      </div>



      <div class="container">
          <div class="row">
              <h3 class="title">My
                  <span class="orange"> numbers</span>
                  <span>Manoj Gaur | IT &amp; Solutions</span>
              </h3>
              <div class="col-md-12 card number">
                  <div class="row">
                      <div class="col-md-3 num">10
                          <span>PL Balance</span>
                      </div>
                      <div class="col-md-3 num">6
                          <span>Connections</span>
                      </div>
                      <div class="col-md-3 num">30
                          <span>e Kusdos Pts. </span>
                      </div>
                      <div class="col-md-3 num">20
                          <span>Leaves Left</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="clearfix"></div>


  </div>
</div> 





  


            

















