    
    
#In2CB_slider {
    position: relative;
    overflow: hidden;
    margin: -14px auto 0 auto;
    border-radius: 4px;
    width: 270px;
    height:165px;
 
  }
  
  #In2CB_slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    /* height: 80px; */
    list-style: none;
  }
  
  #In2CB_slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 270px;
    background: #ccc;
    text-align: center;
    line-height: 100px;
    height: 165px;
    margin-top: 2%;
    border-radius: 8px;
  }
  
  a.In2CB_control_prev, a.In2CB_control_next {
    position: absolute;
    top: 33%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.In2CB_control_prev:hover, a.In2CB_control_next:hover {
    opacity: 1;
     -webkit-transition: all 0.2s ease;
  }
  
  a.In2CB_control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.In2CB_control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .In2CB_slider_option {
    position: relative;
    margin: 10px auto;
    width: 270px;
    font-size: 18px;
  }
  #In2CB_chaticon{
    position:fixed;
    /* bottom:0px; */
    right:0px;
    left:93%;
    bottom: 1%; /* Ramji Added on 31-01-2017*/
    cursor: pointer;
    }
  #In2CB_chatdiv{
      width:350px;
      /* display:none; */
      position:fixed;
      right:20px;
      height:500px;
       margin-bottom:0%;
       top:100px; }
      
  .In2CB_container {
      margin: auto;
      color: #555;
      z-index: 50000;
      background: #fff;
      font-size: 14px;
      border-radius: 8px;
      height: 100%;
      position: relative;
      bottom: 4%; /* Ramji Added on 31-01-2018 */
      /* border: solid 2px #1e6887; */
      


/* Ramji Added 05-06-2018*/
      background-image: url(../../../assets/chatbot/chat-bg.png);
      background-repeat:repeat; 
      background-size: contain;
      background-position: center center;

  }
  #In2CB_chatDetails {
      /* height: 45px; */
      color: rgb(255, 255, 255);
      font-weight: 100;
      font-size: 16px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
      z-index: 999999;
      position: relative;
      cursor: pointer;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;
      padding: 15px 20px;
      background: #1c3254;
  }
  #In2CB_chatDetails .icon-bg {
      position: absolute;
      width: 100%;
      background-size: cover;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .05;
      display: none;
  }
  #In2CB_chatDetails img {
      border-radius: 20px;
      width: 35px;
      height: 35px;
      margin: 0 15px 0 0;
      object-fit: cover;
      float: left;
  }
  
  #In2CB_chatDetails .In2CB_sub-title {
      color: hsla(0,0%,100%,.8);
      font-size: 13px;
      margin-top: 5px;
  }
  
  .In2CB_chat-background {
      position: absolute;
      
      height: 100vh;
      background: #ccc;
      background-size: cover;
      box-sizing: border-box;
      opacity: .8;
  }
  .In2CB_choose-bot-container {
     
      z-index: 9999999999999;
      position: absolute;
      width: 100%;
      background:  #fff;
      background-size: cover;
      box-sizing: border-box;
  }
  
  .In2CB_choose-bot {
      margin: 15px;
      background: #EAF2F7;
      padding: 15px;
      border-radius: 10px;
      font-weight: 700;
      font-size: 14px;
      
  }
  
  .In2CB_choose-bot-container .In2CB_bots {
      padding: 0 15px;
  }
  
  .In2CB_choose-bot-container a {
      padding: 10px;
      display: block;
      max-width: 200px;
      background: #fff;
      border: 1px solid #1F8CEB;
      border-radius: 25px;
      margin-bottom: 10px;
      margin-top: 5px;
      margin-right: 10px;
  }
  
  #In2CB_chatBoxMainContainer {
      /* position: relative; */
      z-index:9999999999;
      height:370px;
      overflow-y: auto;

      /* background-image: url(../../../assets/img/chat-bg.png);
      background-repeat:repeat; 
      background-size: contain;
      background-position: center center; */
  }


  #In2CB_chatBoxMainContainer:focus{
    outline: none;
    }
  
  .In2CB_chat-message {
      position: relative;
  }
  
  .In2CB_from-them.except div, .In2CB_from-them.new div {
      margin-bottom: 15px;
      border-bottom-left-radius: 0!important;
  }
  
  .In2CB_from-them.first div {
      border-top-left-radius: 8px!important;
  }
  
  .In2CB_from-them div {
      padding: 15px;
      background: #eaf2f7;
      border-radius: 5px 8px 8px 5px;
      color: #263238;
      border-color: #eaf2f7;
      float: left;
      margin-bottom: 5px;
      text-align: left;
      margin-right: 20px;
      line-height: 1.5;
      -webkit-font-smoothing: antialiased;
  }
  
  .In2CB_send-input {
      position: absolute;
      z-index: 9999999999;
      border-radius: 0 0 8px 8px;
      display: block;
      left: 0;
      height: 54px;
      right: 0;
      bottom: 0;
      border-top: solid 1px rgba(153, 153, 153, 0.52);
  }
   .In2CB_send-input input[type=text] {
      border: none;
      padding: 18px 100px 18px 18px;
      outline: 0;
      border-radius: 0 0 8px 8px;
      font-size: 14px;
      font-weight: 300;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #565867;
      width: 100%;
      position: absolute;
      background: #f4f7f9;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .In2CB_input-actions {
      position: absolute;
      right: 10px;
      top: 0;
      overflow: hidden;
  }
  .In2CB_input-actions i {
      font-size: 18px;
      cursor: pointer;
      opacity: 0.6;
      color: rgb(194, 0, 13);
      margin: 10px 0px;
      padding: 7px 6px;
  }
  
  .fa-paperclip form {
      position: absolute;
      top: 0;
      left: 0;
  }
  .fa-paperclip input {
      opacity: 0;
      width: 25px;
      cursor: pointer;
      cursor: pointer;
      height: 40px;
  }
  .clearfix{clear:both}
  
  .In2CB_tit{font-size: 16px;
      margin:-16px 5px;
      font-weight: bold;
      text-align: left;}
      
  .In2CB_det{font-size: 12px;
      margin:-80px 5px;
      text-align: left;}
      
      .In2CB_rebut{background: #1e6887;
      color:#fff;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin: 31px 100px;
      border: 1px solid #fff;}

      .In2CB_actions{
        float: right;
        margin-top: -36px;
    }

    .him {
        margin: 8px 0 18px 0;
        padding: 8px 10px;

        background: #c1c1c163;
        color: #263238;
        padding: 8px 10px;
        max-width: fit-content;
        display: flex;
        word-wrap: break-word;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
        border-radius: 5px;
        -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        clear: both;
        z-index: 999;
        text-align: left;
      }
      
      .me {
        float: right;
        background-color: #195872d4;
        background: rgba(0, 0, 0, 0.4);
      
        margin: 8px 0 15px 0;
        padding: 8px 10px;
        max-width: 100%;
        display: block;
        word-wrap: break-word;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
        border-radius: 3px;
        -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        clear: both;
        z-index: 999;
        color: #eceff1;
      }
      
      #him_ {
        background: #c1c1c163;
        color: #263238;
        padding: 8px 10px;
        max-width: fit-content;
        display: flex;
        word-wrap: break-word;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .28);
        border-radius: 5px;
        -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
        clear: both;
        z-index: 999;
        text-align: left;
      }

      .open{
          display: block;
      }

      .close{
        display: none;
    }




#tars-widget-fab .convbot-button {
    width: 50px!important;
    height: 50px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.open .convbot-button {
    background-color: #033742!important;
}	
#tars-widget-fab .convbot-button {
    margin: 12px;
    width: 62px;
    height: 62px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 18px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 18px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 18px 0 rgba(0,0,0,.3);
    position: absolute;
    right: 0;
    bottom: 0;
}
	#tars-widget-fab .convbot-button .convbot-open {
    width: 100%;
    display: inline;
}
img {
    max-width: 100%;
    outline: 0;
    border: 0;
}
ul.pages {
    margin: 0;
    padding: 0;
    width: 100%;
}
.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}	
.chatArea {
    /* background-image: url(../../../../../assets/chatbot/chat-bg.png);
    background-repeat: repeat;  */
    /* background-size: contain;
    background-position: center center; */
}
.chatArea {
    /* background-color: #fff; */
}
@media (max-width: 420px){
.chatArea {
    padding-bottom: 48px;
}}

.chatArea {
    height: 100%;
    padding-bottom: 48px;
    border: 0;
}	
.messages {
    height: 100%;
    margin: 0;
    /* overflow-y: scroll; */
    padding: 4px 0px;
}





.power {
    position: absolute;
    z-index: 10;
    top: 0;
    margin-top: 0;
    color: #000;
    left: 50%;
    margin-left: -65px;
    padding: 0;
}

.log {
    color: gray;
    font-size: 8.4pt;
    text-align: center;
}
.powered-by {
    background-color: rgb(217, 228, 231);
    color: #000;
}
@media (max-width: 420px){
.powered-by {
    background-color: #8a8a8a;
    color: #fff;
}}
.powered-by {
    border-bottom-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    height: 20px;
    width: 130px;
    background-color: #8a8a8a;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.powered-by {
    margin-left: 0;
}
.powered-by {
    box-shadow: #888 0 0.2px 0.04px 0.04px;
}
/* .message:nth-child(2) {
    margin-top: 20px;
} */
.message {
    font-size: 14.4pt;
    padding-left: 0;
    padding-right: 0;
}

.pull-left {
    float: left;
}
.pull-left {
    float: left!important;
}
.col-xs-9 {
    width: 75%;
}
.message {
    font-size: 14.4pt;
    padding-left: 0;
    padding-right: 0;
}

.pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}
.col-xs-9 {
    width: 75%;
}
.is-desktop .padding-no-margin {
    padding: 12px 12px;
}
.user-chat-bubble, .inputMessage, .inputMessage[disabled], .card-wrapper, .card-block, .card.choose.selected .card-footer {
    background-color: rgb(217, 228, 231);
    color: #000;
    /* margin: 0px 15px !important; */
   
}
@media (max-width: 420px){
.padding-no-margin {
    margin: 3.2px 2px;
    padding: 6px 12px;
}}
.chat-bubble {
    box-shadow: 0 0.4px 0.2px rgba(0,0,0,.13);
}
.messageBody {
    line-height: 1.2;
    font-size: 11.2pt;
    font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
}
.my-chat-bubble {
    color: #fff;
    background-color: #0084ff;
    /* border-bottom-left-radius: 1.3em; */
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
}	
.padding-no-margin {
    margin: 3.2px;
    padding: 6px 12px;
}
.messageBody {
    line-height: 1.2;
    font-size: 9.0pt;
    font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
}
.user-chat-bubble {
    color: #333;
    /* background-color: #f1f1f1; */
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    /* border-bottom-right-radius: 1.3em; */
    /* width: calc(100% - 50px); */
}
.chat-timestamp {
    display: none;
    padding-right: 1.6px;
    color: gray;
    margin-top: 9.6px;
    margin-left: 9.6px;
    font-size: 9.6pt;
}

@media (max-width: 420px){
.inputContainter {
    height: 48px;
}}
.inputContainter {
    position: absolute;
    bottom: 0;
    height: 40px;
    left: 0;
    padding-left: 0;
    width: 92%;
    /* margin-left: 2%; */
    background-color: transparent;
    /* margin-bottom: 8px; */
}
.user-chat-bubble, .inputMessage, .inputMessage[disabled], .card-wrapper, .card-block, .card.choose.selected .card-footer {
    background-color: rgb(217, 228, 231);
    color: #000;
    /* margin: 0px 15px !important; */
}

.inputMessage[disabled] {
    background-color: #f1f1f1;
    border: 0;
}
button[disabled], html input[disabled] {
    cursor: default;
}
.inputMessage {
    margin: 0;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    padding-right: 48px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
@media (max-width: 420px){
.inputMessage {
    height: 48px;
    font-size: 10pt;
    -webkit-appearance: none;
}}
.inputMessage {
    border: 1.2px solid #a9a9a9;
    bottom: 0;
    height: 34px;
    outline: 0;
    color: #000;
    -webkit-opacity: 1;
    /* width: 83%; */
    padding: 10px 0px 10px 9px;
    margin-left: 7.2px;
    border-radius: 50px;
    /* box-shadow: 1px 1px 4px grey; */
    padding-left: 20px;
    font-size: 10pt;
    /* margin-top: 8px; */
}
#send-button {
    background-color: transparent;
    border: 0;
    /* padding: 1px 6px 1px 6px; */
    font-size: 10px;
}
@media (max-width: 420px){
.sendButton {
    height: 48px;
    width: 48px;
}}
.sendButton {
    background-color: #dfd7d4;
    border-color: #dfd7d4;
    border-style: solid;
    border-left-width: 0;
    border-top-width: 1.2px;
    border-bottom-width: 1.2px;
    border-right-width: 1.2px;
    bottom: 11px;
    height: 25px;
    outline: 0;
    position: absolute;
    right: 0;
    width: 25px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
#send_button_icon {
    color: #777;
}
#send_button_icon {
    font-size: 10pt;
    padding-top: 1px;
    padding-left: 2px;
    color: #777;
}
.fa {
    display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}
.snackBar {
    overflow: auto;
    font-size: 14.4pt;
    position: absolute;
    bottom: 0;
    height: 50vh;
    left: 0;
    padding-left: 0;
    width: 100%;
}
.selectOptions {
    text-align: center;
    /* padding: 20px 8px 20px; */
    width: 100%;
    margin: 0 auto;
}
/* .selectOptions {
    width: 200px;
    word-wrap: break-word;
    text-overflow: inherit;
    white-space: normal;
} */
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
li.media.list-group-item.choose {
    border-top-right-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    border-top-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em;
    padding: 6px 12px;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.media:first-child {
    margin-top: 0;
}
.my-chat-bubble, .choose, .choose[href], #suggestion-menu-container > * {
    background-color: rgba(30, 104, 135, 0.86);
    color: #fff;
}
.choose {
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;
    border-radius: 5.6px;
    box-shadow: 1px 1px 4px grey;
    border-width: 0;
}

@media (max-width: 420px){
.list-group-item {
    padding: 5px;
}}
.media {
    margin-top: 6px;
}
.choose {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    /*background-color: #fff;*/
    border: 1px solid #ddd;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}
.media {
    margin-top: 15px;
}
.va_basline {
    vertical-align: middle;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}

.snackBar_button.large {
    font-size: 10.2pt;
    color:#fff;
}

.snackBar .media-heading {
    margin-top: 5px;
}



.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none;
}	
	

	
	
	
#tars-cb-widget .close-ontop {
    display: none;
    height: 30px;
    right: 0;
    padding: 20px;
    margin: -20px;
    top: 27.2px;
    width: 48px;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
#tars-cb-widget .close-ontop .hook {
    width: 100%;
    height: 100%;
    background-color: rgba(241,241,241,.8);
    color: #333;
    box-shadow: 0 0.4px 0.2px rgba(0,0,0,.13);
    border-radius: 1.3em 0 0 1.3em;
}
#tars-cb-widget .close-ontop svg {
    position: absolute;
    right: 38px;
    top: 29px;
}


/* indicator start */
.typing-indicator {
    background-color: #c5caea;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 5px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
  }


  .typing-indicator .show{
    display: block;
}

.typing-indicator .close{
  display: none;
}


  .typing-indicator::before, .typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e6e7ed;
  }
  .typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  .typing-indicator span {
    height: 12px;
    width: 12px;
    float: left;
    margin: 0 1px;
    background-color: #0c0c0e;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
  }
  .typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
  }
  .typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
  }
  .typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
  }
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
  @keyframes bulge {
    50% {
      transform: scale(1.05);
    }
  }
  
  
  /* indicator exit*/

 /* multiselect  angular*/
/* The container */
    
.chackbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */

.chackbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */

.chackbox:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */

.chackbox input:checked ~ .checkmark {
    background-color: #01b1d7;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */

.chackbox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */

.chackbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



 .cuppa-dropdown{position:relative}.c-btn{display:inline-block;background:#fff;border:1px solid #ccc;border-radius:3px;font-size:14px;color:#333}.c-btn.disabled{background:#ccc}.c-btn:focus{outline:none}.selected-list   .c-list{float:left;padding:0px;margin:0px}.selected-list   .c-list   .c-token{list-style:none;padding:0px 5px;background:#0079FE;color:#fff;border-radius:2px;margin-right:4px;float:left}.selected-list   .c-list   .c-token   .c-label{display:block;float:left}.selected-list   .c-list   .c-token   .fa-remove{margin-left:1px;font-size:12px;z-index:100000000}.selected-list   .fa-angle-down, .selected-list   .fa-angle-up{font-size:15pt;position:absolute;right:10px;top:25%}.selected-list   .c-btn{width:160px !important;box-shadow:0px 1px 5px #959595;padding:10px;cursor:pointer;display:flex}.dropdown-list{position:absolute;padding-top:14px;width:100%;z-index:9999}.dropdown-list   ul{padding:0px;list-style:none;overflow:auto;margin:0px}.dropdown-list   ul   li{padding:10px 10px;cursor:pointer;text-align:left}.dropdown-list   ul   li:first-child{padding-top:10px}.dropdown-list   ul   li:last-child{padding-bottom:10px}.dropdown-list   ul   li:hover{background:#f5f5f5}.dropdown-list   ::-webkit-scrollbar{width:8px}.dropdown-list   ::-webkit-scrollbar-thumb{background:#cccccc;border-radius:5px}.dropdown-list   ::-webkit-scrollbar-track{background:#f2f2f2}.arrow-up{width:0;height:0;border-left:13px solid transparent;border-right:13px solid transparent;border-bottom:15px solid #fff;margin-left:15px;position:absolute;top:0}.list-area{border:1px solid #ccc;border-radius:3px;background:#fff;margin:0px;box-shadow:0px 1px 5px #959595}.select-all{padding:10px;border-bottom:1px solid #ccc;text-align:left}.list-filter{border-bottom:1px solid #ccc;position:relative}.list-filter   input{border:0px;width:100%;height:35px;padding:0px 0px 0px 35px}.list-filter   input:focus{outline:none}.list-filter   .fa{position:absolute;top:10px;left:13px;color:#888}.pure-checkbox   input[type="checkbox"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.pure-checkbox   input[type="checkbox"]:focus + label:before, .pure-checkbox   input[type="checkbox"]:hover + label:before{border-color:#0079FE;background-color:#f2f2f2}.pure-checkbox   input[type="checkbox"]:active + label:before{transition-duration:0s}.pure-checkbox   input[type="checkbox"] + label{position:relative;padding-left:2em;vertical-align:middle;user-select:none;cursor:pointer;margin:0px;color:#000;font-weight:300}.pure-checkbox   input[type="checkbox"] + label:before{box-sizing:content-box;content:'';color:#0079FE;position:absolute;top:50%;left:0;width:14px;height:14px;margin-top:-9px;border:2px solid #0079FE;text-align:center;transition:all 0.4s ease}.pure-checkbox   input[type="checkbox"] + label:after{box-sizing:content-box;content:'';background-color:#0079FE;position:absolute;top:50%;left:4px;width:10px;height:10px;margin-top:-5px;transform:scale(0);transform-origin:50%;transition:transform 200ms ease-out}.pure-checkbox   input[type="checkbox"]:disabled + label:before{border-color:#cccccc}.pure-checkbox   input[type="checkbox"]:disabled:focus + label:before   .pure-checkbox   input[type="checkbox"]:disabled:hover + label:before{background-color:inherit}.pure-checkbox   input[type="checkbox"]:disabled:checked + label:before{background-color:#cccccc}.pure-checkbox   input[type="checkbox"] + label:after{background-color:transparent;top:50%;left:4px;width:8px;height:3px;margin-top:-4px;border-style:solid;border-color:#ffffff;border-width:0 0 3px 3px;border-image:none;transform:rotate(-45deg) scale(0)}.pure-checkbox   input[type="checkbox"]:checked + label:after{content:'';transform:rotate(-45deg) scale(1);transition:transform 200ms ease-out}.pure-checkbox   input[type="radio"]:checked + label:before{animation:borderscale 300ms ease-in;background-color:white}.pure-checkbox   input[type="radio"]:checked + label:after{transform:scale(1)}.pure-checkbox   input[type="radio"] + label:before{border-radius:50%}.pure-checkbox   input[type="checkbox"]:checked + label:before{animation:borderscale 200ms ease-in;background:#0079FE}.pure-checkbox   input[type="checkbox"]:checked + label:after{transform:rotate(-45deg) scale(1)}@keyframes borderscale{50%{box-shadow:0 0 0 2px #0079FE}}.list-message{text-align:center}.list-grp{padding:0 15px !important}.list-grp   h4{text-transform:capitalize;margin:15px 0px 0px 0px;font-size:14px;font-weight:700}.list-grp > li{padding-left:15px !important}


 .In2-width-260{
    /* width:260px !important; */
  }

  .In2-width-100per{
     width: 285px !important;
    /* margin-top: 10px; */
    color: #fff;
    line-height:20px; 
    /* margin-left: -10px; */
    margin-bottom: 5px;
    margin-left: -29px;
  }
  
  .In2-date-100per{
    width: 285px !important;
   /* margin-top: 10px; */
   color: #000;
   line-height:20px; 
   /* margin-left: -10px; */
   margin-bottom: 5px;
   margin-left: -29px;
 }

  .In2-button-transp {
    background-color: rgba(255,255,255,.15) ! important;
  }

.In2_keyValue {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    width: 14em !important;
    text-align: center !important;
}


.In2_width86p{
 width: 86px !important;
}

.In2_height150p_autoscroll{
    height: 150px;
    overflow: auto;
}

.In2_height250p_autoscroll{
    height: 250px;
    overflow: auto;
}

.In2_width100p{
    width: 100px !important;
   }

.In2_width100per{
    width: 100% !important;
}
   

.In2_width200p{
    width: 200px !important;
   }

   /* .In2_width300p{
    width: 300px !important;
   } */

  .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    max-width: 30px;
}

.robot {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* css for microphone*/

@-webkit-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-moz-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-ms-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-o-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
button.speak{
background-color: blue;
    border-radius: 50px;
    width: 25px;
    height: 25px;
	vertical-align: middle;
    display: table-cell;
	text-align:center;
   /* -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    -ms-animation: color_change 1s infinite alternate;
    -o-animation: color_change 1s infinite alternate;*/
    animation: color_change 1.5s infinite alternate;
	
}
button.speak i{color:#ffffff;}

/** Sudheer */
.messages li .row{flex-wrap: nowrap;}
.messages li{list-style-type:none; padding:0; /*width: 100%;*/ width:calc(100% - 40px); }
.messages li .img{width:40px;  position: relative;  margin-right: 0px; float: left;}
.messages img.robot{float: left;
    max-width: 30px;
    /* width: 100%; */
    display: block;
    width: 100%;
    margin-right: 90px;
    margin:-3px 5px;
    border-radius: 50%;}


    



    
.ctm-chatbot-table {
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 9px;
    }
    .ctm-chatbot-table th, .ctm-chatbot-table thead, .ctm-chatbot-table thead tr {
    background: #1e6887;
    border: 1px solid #1e6887;
    color: #fff;
    font-weight: normal;
    text-align: center;
    padding: 6px 5px;
    font-size: 11px;
    }
    .ctm-chatbot-table tbody td {
    border: 1px solid #f7f4f4;
    font-size: 11px;
    padding: 5px 2px;
    text-align: center;
    }
    .startDate > div.col-sm-4, .endDate > div.col-sm-4 {
    padding: 0 2px;
    margin-bottom: 15px;
    }
    .startDate, .endDate {
    padding: 0;
    }
    