 <!-- Footer -->
 <footer class="py-4 bg-dark">
  <div class="container">

      <footer class="section footer-classic context-dark">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-xl-4 text-white">
                      <p class="mb-4">
                          <a href="#">
                              <img src="assets/images/logo.png" alt="" class="img-fluid">
                          </a>
                      </p>
                      <!-- <p>
                          <a href="#"><img src="images/logo.png" alt="" class="img-fluid"></a>
                      </p> -->
                  </div>
                  <div class="col-md-3 col-xl-3 text-white">
                      <ul class="nav-list">
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> Home</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> My Organisation</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i>My Network</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> My Knowledge</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> My workspace</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> My Assistant</a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-long-arrow-right"></i> My Zone</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-5 text-white">
                      <form>
                          <div class="newsletter-form mb-4">
                              <input class="form-control mb-3" placeholder="Search " type="text">
                              <button class="btn btn-default btn-sm" type="submit">Submit</button>
                          </div>
                          <p style="color:#eeeeee; font-size:15px;"> A max financial Services and MS Joint Ventures</p>
                      </form>

                      <!--<dl class="contact-list">
          <dt>Address:</dt>	
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>-->
                  </div>
              </div>
          </div>
      </footer>