.panel-footer {
    /* background: #aaa;
    border-top: 1px solid #eee;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px */
    padding: 1px 1px;
    
} 
.form-control {
    border: 1px solid #d3d8de;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.42857143;
    height: 34px;
    padding: 6px 12px;

width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.chats {
    list-style-type: none;
    margin: 0;
    padding: 12px 15px 15px
}

.chats>div+div,
.chats>li+li {
    margin-top: 15px
}

.chats>div:after,
.chats>div:before,
.chats>li:after,
.chats>li:before {
    content: '';
    display: table;
    clear: both
}

.chats .name {
    color: #333;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-decoration: none
}

.chats .name .label {
    font-size: 8px;
    padding: 1px 4px 2px;
    margin-left: 3px;
    position: relative;
    top: -1px
}

.chats .date-time {
    font-size: 10px;
    display: block;
    float: right;
    color: #999;
    margin-top: 3px
}

.chats .image {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    overflow: hidden
}

.chats .image img {
    max-width: 100%
}

.chats .image+.message {
    margin-left: 75px
}

.chats .message {
    padding: 7px 12px;
    font-size: 12px;
    position: relative;
    background: #fff;
    border-radius: 14px
}

.chats .message:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -13px;
    border: 7px solid transparent;
    border-right-color: #fff
}

.tab-overflow,
.tab-overflow .nav.nav-tabs {
    border-radius: 2px 2px 0 0;
    overflow: hidden
}

.chats .right .name {
    text-align: right
}

.chats .right .date-time {
    float: left
}

.chats .right .image {
    float: right
}

.chats .right .image+.message {
    margin-right: 75px;
    margin-left: 0
}

.chats .right .message:before {
    left: auto;
    right: -13px;
    border-right-color: transparent;
    border-left-color: #fff
}

.panel-body .chats {
    padding: 0
}

.slimScrollDiv .chats {
    padding-right: 15px
}
.panel-heading{
	background-color:#999;
	
}
.panel-title{
	padding:10px 15px;
	margin:0;
    margin-bottom:15px;
    background-color: #0033a1;
    color: #fff;
    font-size:12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
    /* text-shadow: 2px 2px 4px #000000; */
    font-weight:900;
    font-family: 'Muli';
}
.bg-silver{padding:15px; background:#dddddd;}

.messages li{list-style-type:none; clear: both; display: inline-block !important; font-family: 'Muli';  }

.messages img.robot{float: left;
    max-width: 30px;
    width: 100%;
    border-radius: 50%;}
   .convbot .convbot-open{box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.8);}  
   .chats .image+.message {
    margin-left: 75px;
}
.chats .message {
    padding: 5px 12px;
    font-size: 10px;
    position: relative;
    background: #fff;
    border-radius: 14px;
    font-family: 'Muli';
}
@keyframes bounceIn {
    0% {
        transform: scale(0.75, 0.75);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}
.right{
    border-top-right-radius: 0; 
    border-radius: 10px;
    color: #fff; 
    background-color: #093eaf;
    padding: 4px 10px;
    font-size: 12px;
    position: relative;
    margin-right:10px;
    margin-bottom:10px;
    /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07); */
    transform-origin: 0 0 0;
    border: 1px transparent solid;
   
}

.left{
    /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07); */
    z-index: 1;
    border-radius: 10px;
    color: #ffffff;
    background-color: #198298;
    padding: 4px 10px;
    font-size: 12px;
    position: relative;
    margin-right:10px;
    animation: bounceIn 0.2s ease;
    -webkit-animation: bounceIn 0.2s ease;
    transform-origin: 0 0 0;
    border-top-left-radius: 0; 
}
ul li {
    font-family: "bentonsans-regular-webfont";
    color: #0A2240;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 0px 10px!important;
    padding: 0;
}
h4 {
    /* font-size: 20px;
    line-height: 25px;
    color: #3C4b6C; */
    margin: 0 0 0px 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}
#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 15px;
}

#style-4::-webkit-scrollbar
{
	width: 2px;
    background-color: #F5F5F5;
    height:7px;
    border-radius: 15px;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #0089ff;
    border: 2px solid #0089ff;
    border-radius: 15px;
}
/* style-3 */
.style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
   
}

.style-3::-webkit-scrollbar
{
	width: 7px;
    background-color: #F5F5F5;
    height:7px;
   
}

.style-3::-webkit-scrollbar-thumb
{
	background-color: #0089ff;
    border: 2px solid #0089ff;
    border-radius: 15px;
}
ol li{
    float: left;
    font-size: 11px;
    max-width: 300px;
    margin: 0 0 5px -20px !important;
}
.panel-footer {
    background: #fff;
    border-top: 1px solid #eee;
    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: -24px;
}
.form-control {
    /* border: 1px solid #d3d8de; */
    box-shadow: none;
    font-size: 12px;
    line-height: 1.42857143;
    height: 34px;
    padding: 6px 12px;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.microPhoneDisable{
    display:none
}
  .div-button{
    background-color: #f0f3f4;
    color: #198298;
    border: 1px solid #198298;
  }
  
  

